# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
.venv/
computer_vision_speed_control/Lib/
computer_vision_speed_control/Scripts/
computer_vision_speed_control/Include/

# Ignore the massive ZIP and raw images
*.zip
hand_gesture_dataset_raw/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter
.ipynb_checkpoints

# macOS
.DS_Store

# Logs and databases
*.log
*.sqlite3

# OS / others
Thumbs.db
*.bak
*.tmp

# OneDrive temp files
~$*
